body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #85b876;
    padding: 20px;
    text-align: center; /* Centra el contenido del header */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* Centra los elementos li */
}

nav li {
    margin: 0 10px; /* Espaciado entre los botones */
}

nav a {
    display: inline-block; /* Permite aplicar padding y background */
    padding: 10px 20px; /* Espacio alrededor del texto */
    background-color: #4CAF50; /* Color de fondo del botón */
    color: white; /* Color del texto */
    text-decoration: none; /* Elimina el subrayado */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave */
}

nav a:hover {
    background-color: #45a049; /* Color del botón al pasar el ratón */
}

img {
    max-width: 50%; /* La imagen no superará el 80% del ancho del contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    margin: 40px auto; /* Márgenes superior e inferior de 20px y márgenes izquierdo y derecho automáticos para centrar */
    display: block;
}

